---
layout: video
title: "Quickly Learn GitHub and Git with legend Cameron McKenzie"
description: "Want to learn Git? Want to learn GitHub? Cameron McKenzie will show you the way with this simple, GitHub and Git tutorial for beginners."
video_host: "youtube"
video_id: "MaqVvXv6zrU"
upload_date: "2025-10-01T00:00:01+00:00"
duration: "PT34M04S"
thumbnail_url: "https://i.ytimg.com/vi/MaqVvXv6zrU/maxresdefault.jpg"
content_url: "https://youtu.be/MaqVvXv6zrU?si=VOAp6ZlsZl8RS13b"
embed_url: "https://www.youtube.com/embed/MaqVvXv6zrU"
publisher_name: "certificationExams.pro"
publisher_logo: "/assets/images/logo-512.png"
in_language: "en"
is_accessible_for_free: true
tags:
  - github
  - github desktop
  - articles
  - videos
  - examples
  - certification
  - version control 
  - tutorial
  - how to git
  - desktop app
---
<section class="py-6" id="exam-overview" style="padding-top:5px; padding-bottom:35px;">
  <div class="container mt-4 mb-14">
    <div class="row g-4 mt-4">
      <!-- Left card: Certification Info -->
      <div class="col-12">
        <div class="compare-card border-accent-subtle h-100">
          <div class="card-body">
<h1>Cameron McKenzie Teaches you Git and GitHub and more!</h1>
<ul>
  {% assign current_dir = page.dir %}
  {% for p in site.pages %}
    {% if p.dir == current_dir and p.url != page.url %}
      <li><a href="{{ p.url | relative_url }}">{{ p.title | default: p.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




